# Dépendances
node_modules/
.next/
dist/
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
.env.local

# Stockage modèles
server/infrastructure/storage/models/*.glb

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
